.main__banner {
    height: 898px;
    padding: 62px 0;
    background: var(--clr-ttl);
}

.main__banner__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 58px;
}

.main__banner__idea {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__banner__idea-desc {
    max-width: 624px;
    width: 100%;
}

.main__banner__idea-desc-dot {
    width: 24px;
    height: 24px;
    background: #ffffff0f;
    margin-bottom: 24px;
}

.main__banner__idea-desc-title {
    color: #fff;
    font-family: var(--PS);
    font-size: clamp(1.625rem, 1.019rem + 3.03vw, 3.5rem);
    font-weight: 600;
    margin-bottom: 24px;
}

.main__banner__idea-desc-text {
    max-width: 528px;
    width: 100%;
    color: rgba(255, 255, 255, var(--opc));
    font-family: var(--PR);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}

.main__banner__idea-link {
    position: relative;
    background: var(--clr-blue);
    max-width: 220px;
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: #fff;
    font-family: var(--PM);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    transition: var(--trans);
}

.main__banner__idea-link:hover {
    scale: 1.05;
    background: var(--clr-org);
}

.main__banner__idea-link img:first-child {
    transition: var(--trans);
}
.main__banner__idea-link-decor {
    position: absolute;
    left: 0;
    top: 0;
}
.main__banner__idea-link:hover img:first-of-type {
    transform: translateX(4px);
} 

.main__banner__idea-img {
    z-index: 10;
    position: relative;
    max-width: 524px;
    width: 100%;
    max-height: 632px;
    
}

.main__banner__idea-img img {
    position: relative;
    right: 16px;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* animation: move-sides 4s ease infinite; */
}

.main__banner__idea-img-decor {
    z-index: 1;
    position: absolute;
}
.main__banner__idea-img-decor-line:first-child {
    background: var(--clr-org);
}
.main__banner__idea-img-decor-line:nth-child(2) {
    background: var(--clr-bisq);
}
.main__banner__idea-img-decor-line:last-child {
    background: var(--clr-blue);
}
.main__banner__idea-img-decor:first-of-type {
    bottom: 0;
    left: -32px;
}
.main__banner__idea-img-decor:first-of-type .main__banner__idea-img-decor-line:first-child {
    height: 22px;
    width: 32px;
}
.main__banner__idea-img-decor:first-of-type .main__banner__idea-img-decor-line:nth-child(2) {
    height: 64px;
    width: 32px;
}
.main__banner__idea-img-decor:first-of-type .main__banner__idea-img-decor-line:last-child {
    width: 32px;
    height: 16px;
}

.main__banner__idea-img-decor:last-of-type {
    top: 0;
    right: 0;
}
.main__banner__idea-img-decor:last-of-type .main__banner__idea-img-decor-line:nth-child(2) {
    width: 222px;
    height: 200px;
}
.main__banner__idea-img-decor:last-of-type .main__banner__idea-img-decor-line:first-child {
    height: 75px;
    width: 222px;
}
.main__banner__idea-img-decor:last-of-type .main__banner__idea-img-decor-line:last-child {
    height: 46px;
    width: 222px;
} 
.main__banner__clients {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 32px;
}

.main__banner__clients-desc {
    max-width: 188px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.main__banner__clients-title-mini {
    color: rgba(255, 255, 255, var(--opc));
    font-family: var(--PM);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.main__banner__clients-title {
    color: #fff;
    font-family: var(--PM);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.main__banner__clients-companies {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@keyframes move-sides {
    0% {
        transform: translateX(16px);
    }
    50% {
        transform: translateX(-16px);
    }
    100% {
        transform: translateX(16px);
    }
}
@media screen and (max-width: 1140px) {
    .main__banner {
        height: max-content;
    }
    .main__banner__idea {
        flex-direction: column-reverse;
        gap: 20px;
    }
    .main__banner__idea-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .main__banner__idea-desc-dot {
        display: none;
    }
    .main__banner__idea-img img {
        left: 0;
    }
    .main__banner__idea-img-decor {
        display: none;
    }
}