* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: var(--PS);
}
.container {
    margin: 0 auto;
    max-width: 1310px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
}
[class*="-title-mini"] {
    font-family: var(--PM);
    color: rgba(0, 0, 0, var(--opc));
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 16px;    
}
h2[class*="-title"] {
    font-family: var(--PS);
    color: var(--clr-ttl);
    font-size: var(--ttl-size);
    font-weight: 600;
    margin-bottom: 24px;
}
