.header {
    background: var(--clr-ttl);
    border-bottom: 1px solid #ffffff0d;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-links {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__nav-links-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header__nav-links-list-item-link {
    position: relative;
    color: rgba(255, 255, 255, var(--opc));
    font-family: var(--PM);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    display: block;
    padding: 24px 16px 28px;
    transition: var(--trans);
}
.header__nav-links-list-item-link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    background: var(--clr-org);
    transition: var(--trans);
}
.header__nav-links-list-item-link:hover {
    color: #fff;
}
.header__nav-links-list-item-link:hover::after {
    width: 100%;
}

.header__nav-links-clone {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--clr-bisq);
    font-family: var(--PM);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    transition: var(--trans);
    border-bottom: 2px solid transparent;
}
.header__nav-links-clone:hover {
    border-bottom: 2px solid var(--clr-bisq);
}
.header__nav-links-clone img {
    transition: var(--trans);
}
.header__nav-links-clone:hover img {
    transform: translateX(4px);
}
@media screen and (max-width: 960px) {
    .header {
        padding-top: 30px;
    }
    .header__nav {
        flex-direction: column;
    }
    .header__nav-links-list-item-link {
        padding: 16px;
    }
}
@media screen and (max-width: 768px) {
    .header {
        padding: 30px 0;
    }
    .header__nav {
        gap: 30px;
    }
    .header__nav-links {
        flex-direction: column;
    }
    .header__nav-links-list {
        justify-content: center;
        gap: 15px;
    }
    .header__nav-links-list-item-link {
        padding: 0;
    }
}